*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    height: 300px;
    width: 300px;
    background-color: brown;
}
.circle{
    clip-path: circle(50% at 50% 50%);
}
.penta{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.tri{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.oct{
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
button{
    margin-left: 100px;
    padding: 11px 19px;
}